.menu-bar {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.342);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  width: 90%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: background-color 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.068);
  color: white !important;
}


.quem-somos {
  background-color: rgba(8, 0, 0, 0.411); /* Cor de fundo semi-transparente */
  -webkit-backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra */
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 6rem;
  user-select: none;
  font-family: "Poppins", "sans-serif";
  margin-bottom: 1rem;
  padding-bottom: 0;
  padding-left: 6rem;
  border: 1px solid #ffffff22;
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
  color: white !important;
}

.quem-somos::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: .7s all;
}

.quem-somos:hover {
  border: 1px solid #6ac05e44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}

.quem-somos:hover::before {
  filter: brightness(.5);
  top: -100%;
  left: 200%;
}

.alexandre-diciero{
  background-color: rgba(8, 0, 0, 0.418); /* Cor de fundo semi-transparente */
  -webkit-backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 2rem;
  margin-left: 7rem;
  margin-right: 7rem;
  user-select: none;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  border: 1px solid #ffffff22;
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
  color: white !important;
  padding-right: 2rem;
  text-align: justify;
  letter-spacing: 0px;
}

.alexandre-diciero img{
  width: 35rem;
  margin-right: 8rem;
  border-radius: 10px;
}

.alexandre-diciero::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: .7s all;
}

.alexandre-diciero:hover {
  border: 1px solid #6ac05e44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}

.alexandre-diciero:hover::before {
  filter: brightness(.5);
  top: -100%;
  left: 200%;
}

.alexandre-diciero h4{
  margin-right: 3rem;
  letter-spacing: 0;
}


.principais-clientes{
  background-color: rgba(8, 0, 0, 0.425); /* Cor de fundo semi-transparente */
  -webkit-backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra */
  user-select: none;
  font-weight: bold; 
  font-family: "Poppins", sans-serif;
  justify-content: center; /* Alinha os elementos filhos verticalmente */
  text-align: center !important;
  align-items: center;
  border: 1px solid #ffffff22;
  box-shadow: 0 7px 20px 5px #00000088;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
  color: white !important;
  text-align: justify;
  margin-left: 7rem;
  margin-right: 7rem;
  border-radius: 10px;
}

.menu-bar li {
  list-style: none;
  color: white !important;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}


.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
  color: white;
}
.menu-bar li:hover {
  color: black !important;
}
.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px rgb(139, 160, 105);
  transform: scale(1.2);
}

.menu-bar li :visited{
  color: white !important;
}

body {
  background: url('assets/img/background.png');
  background-size: cover; /* Faz a imagem cobrir toda a área do elemento */
  background-position: center; /* Centraliza a imagem na tela */
  background-repeat: no-repeat; /* Evita que a imagem seja repetida */
  background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
  margin: 0;
  width: 100%;
  height: 100%;
}



.fa{
  margin-right: 15px;
  color: #2ecc71; /* Cor verde para o ícone */
}


.whatsapp-icon {
  position: fixed;
  bottom: 20px; /* Distância do fundo da página */
  right: 20px; /* Distância da borda direita da página */
  z-index: 999; /* Garante que o ícone fique acima de outros elementos */
  width: 60px;
}

.footer-columns {
  background-color: #000000e4;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  position: relative; /* Alterado de fixed para relative */
  margin-top: auto; /* Isso empurra o rodapé para a parte inferior */
  bottom: 0; /* Coloca o rodapé no final da tela */
  left: 0; /* Alinha o rodapé à esquerda */
}


.footer-column {
  flex: 1;
  margin-right: 1rem;
}


.footer-icons {
    display: flex;
    margin-top: 4rem;
	  margin-right: 1rem;
    display: block !important;
}

.footer-icons a {
    margin-right: 1rem;
}

.footer-company-name{
  border-style: none;
  height: 3rem !important;
  margin-left: 1rem;
}

.fale-conosco{
    margin-bottom: 1rem;
    margin-top: 1rem;
    align-items: start;
    justify-content: start;
    display: flex;
    font-size: medium
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.services section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Alteração aqui */
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 10rem;
  max-width: 100%;
}


.services-card{
  margin-top: 0 !important;
  user-select:none;
  flex: 1;
  display: flex;
  font-family: sans-serif !important;
  justify-content: center; /* Alinha os elementos filhos verticalmente */
  flex-direction: column; /* Define a direção dos elementos filhos como coluna */
  text-align: center;
  align-items: center;
  max-width: 300px; /* Reduzindo a largura máxima */
  margin-right: 1rem;
  margin-bottom: 5rem;
  border: 1px solid #6fd44122;
  background-color: #0a0101;
  background: linear-gradient(227deg, #59963c00 0%, rgba(135, 136, 0, 0.29) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
  hr{
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }
  ins{
    text-decoration: none;
  }
  .main{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center; /* Alinha o conteúdo horizontalmente */
    justify-content: center; /* Alinha o conteúdo verticalmente */
    text-align: center;
    width: 85%;
    padding: 1rem;
    .tokenImage{
      border-radius: .5rem;
      max-width: 100%;
      height: 250px;
      object-fit: cover;
      align-items: center;
      justify-content: center;
    }
    .description{
      margin: .5rem 0;
      color: #351795;
      overflow: hidden;
      text-overflow: ellipsis; /* Adicione reticências para indicar texto truncado */
      font-family: sans-serif;
    }
    .tokenInfo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price{
        display: flex;
        align-items: center;
        color: #ee83e5;
        font-weight: 700;
        ins{
          margin-left: -.3rem;
          margin-right: .5rem;
        }
      }
      .duration{
        display: flex;
        align-items: center;
        color: #0a041e;
        margin-right: .2rem;
        ins{
          margin: .5rem;
          margin-bottom: .4rem;
        }
      }
    }
    .creator{
      display: flex;
      align-items: center;
      margin-top: .2rem;
      margin-bottom: -.3rem;
      ins{
        color: #a89ec9;
        text-decoration: none;
      }
      .wrapper{
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: .3rem;
        margin: 0;
        margin-right: .5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;
        img{
          border-radius: 100%;
          border: 1px solid #ffffff22;
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }
  ::before{
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #531f1f08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: .7s all;
  }
  &:hover{
    border: 1px solid #25085c44;
    box-shadow: 0 7px 50px 10px #000000aa;
    background-color: #36c74921;
    transform: scale(1.015);
    filter: brightness(1.3);
    ::before{
      filter: brightness(.5);
      top: -100%;
      left: 200%;
    }
  }
}

.bg{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1{
    font-size: 20rem;
    filter: opacity(0.5);
  }
}


.services-card h2 {
  font-size: 2rem;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
}

.services-card {
  cursor: pointer; /* Mostra o cursor como um ponteiro ao passar por cima */
  margin-bottom: 20px; /* Espaçamento entre os cartões de serviço */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.modal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.932);
  z-index: 1000;
  border-radius: 10px;
}


.menu-sanfona > li {
  list-style: none;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
  box-shadow: -17px -20px 10px rgb(4 0 0 / 11%);
}

.menu-sanfona li ul { display: none; } /* Esconde todos os submenus por padrão */
.menu-sanfona li.ativo ul { display: block; } /* Exibe o submenu quando o item do menu estiver ativo */
.menu-sanfona li.ativo i.fa-plus { display: none; } /* Esconde o ícone de adição quando o item do menu estiver ativo */
.menu-sanfona li.ativo i.fa-minus { display: inline; } /* Exibe o ícone de subtração quando o item do menu estiver ativo */

.menu-sanfona li ul{
  display:none;
  text-align: start;
}

.menu-sanfona li:focus ul{
  display:block;
}

.menu-sanfona {
  padding: 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
  overflow: hidden; /* Adiciona overflow hidden para esconder a sombra extra */
}


.menu-sanfona p {
  font-size: 1rem;
}


.menu-sanfona h2 {
  margin: 0;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  position: relative; /* Adiciona posição relativa para z-index funcionar */
  z-index: 1; /* Coloca o texto sobre a borda */
}


.menu-sanfona ul li {
  padding: 10px 20px;
  font-size: 16px;
  color: #130202;
  cursor: pointer;
  position: relative; /* Adiciona posição relativa para z-index funcionar */
  z-index: 1; /* Coloca o texto sobre a borda */
}

.menu-sanfona ul li:hover {
  background-color: #718b5234; /* Cor de fundo do item ao passar o mouse */
}

.menu-sanfona li {
  position: relative; /* Posição relativa para permitir posicionamento absoluto dos pseudoelementos */
  
}


.menu-sanfona li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2); /* Cor da borda (estilo de vidro) */
}

.menu-sanfona-menu-principal{
  border-bottom: 1px solid;
}

.menu-item ul {
  display: none;
}

.menu-item.expanded ul {
  display: block;
}


.slider {
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	overflow:hidden;
	position: relative;
	width: 100%;
  background-color: rgba(8, 0, 0, 0.144); /* Cor de fundo semi-transparente */
  -webkit-backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra */
  user-select: none;
  font-family: sans-serif !important;
  justify-content: center; /* Alinha os elementos filhos verticalmente */
  flex-direction: column; /* Define a direção dos elementos filhos como coluna */
  text-align: center;
  align-items: center;
  box-shadow: 0 7px 20px 5px #00000088;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
}
.slider::before,
.slider::after {
	content: "";
	height: 100px;
	position: absolute;
	z-index: 2;
}
.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}
.slider::before {
	left: 0;
	top: 0;
}
.slide-track {
  animation: scroll 80s linear infinite; 
  display: flex;
  width: calc(250px * 11); 
}
.slide {
	height: 100px;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 11)); } 
}


@media (min-height: 1400px) {
  .services {
      margin-bottom: 44rem !important;
  }
}

@media (max-height: 1399px) {
  .services {
      margin-bottom: 10 !important;
  }
}
