.menu-bar {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem; 
  background-color: rgba(0, 0, 0, 0.342);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  border-radius: 25px;
  width: 95%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: background-color 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.068);
}

.menu-bar ul {
  padding-right: 0rem !important;
}

@media only screen and (max-width: 900px) {
  .menu-bar{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.5rem; 
    background-color: rgba(0, 0, 0, 0.342);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    border-radius: 25px;
    width: 90%;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    z-index: 1000;
    transition: background-color 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.068);
    }
  
    .menu-bar li{
      width: 70%;
      margin-right: 1rem !important;
    }

    .menu-bar ul{
      padding-right: 200px;
    }
}



@media only screen and (max-width: 1000px) {
  .menu-bar{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.5rem; 
    background-color: rgba(0, 0, 0, 0.342);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    border-radius: 25px;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    z-index: 1000;
    transition: background-color 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.068);
    }
  
    .menu-bar li{
      width: 100%;
      margin-right: 1rem !important;
    }

    .menu-bar ul{
      padding-right: 100px;
    }
}



/* Mostra o menu desktop em telas maiores */
@media only screen and (min-width: 768px) {
  .menu-desktop {
      display: block;
  }
  .menu-mobile {
      display: none !important;
      width: auto;
  }
}

/* Mostra o menu mobile em telas menores */
@media only screen and (max-width: 768px) {
  .menu-desktop {
      display: none !important;
  }
  .menu-mobile {
      display: block;
  }
}



.menu-bar li {
  margin-right: 10rem; 
}


@media (max-width: 600px) {
  .menu-bar li{
    margin-right: 1rem !important;
    }
}
  


@media (max-width: 900px) {
  .menu-bar li{
    margin-right: 1rem !important;
    }
}
  
.temos-oferecer{
  margin-top: 4rem;
}


@media screen and (max-width: 1700px) {
  .temos-oferecer{
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  
  .menu-item {
      margin-right: 0;
      margin-bottom: 1rem;
  }
}




@media screen and (max-width: 900px) {
  .temos-oferecer{
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 10rem !important;
  }
  
  .menu-item {
      margin-right: 0;
      margin-bottom: 1rem;
  }
}


@media screen and (max-width: 768px) {
  .temos-oferecer{
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 1rem !important;
    padding-right: 5rem;
    width: auto;
  }
}

@media screen and (max-width: 390px) {
  .temos-oferecer{
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 1rem !important;
    padding-right: 5rem;
    padding-left: 3rem !important;
  }
}


.menu-bar li {
  list-style: none;
  color: white !important;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 0;
  margin-right: 20px;
}



.menu-bar li:hover {
  color: black !important;
  text-decoration: none;
}

.menu-bar li a {
  color: white !important;
}

.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
  color: white;
}

.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px rgb(139, 160, 105);
  transform: scale(1.2);
}


.btn-primary-custom {
  background-color: rgb(120, 155, 69);
  border: 0;
  transition: background-color 0.3s;
}


.img-shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.quem-somos {
  background-color: rgb(255, 255, 255); /* Cor de fundo semi-transparente */
  -webkit-backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra */
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 6rem;
  user-select: none;
  font-family: "Poppins", "sans-serif" !important;
  margin-bottom: 1rem;
  padding-bottom: 0;
  padding-left: 6rem;
  border: 1px solid #ffffff22;
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
  color: rgb(0, 0, 0) !important;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.quem-somos::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: .7s all;
}

.quem-somos:hover {
  border: 1px solid #6ac05e44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}

.quem-somos:hover::before {
  filter: brightness(.5);
  top: -100%;
  left: 200%;
}



.manifesto{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  font-weight: 540;
  margin-right: 2rem;
  margin-top: 10rem !important;
  background-color: rgba(255, 255, 255, 0.897);
  padding-left: 5rem; 
  margin-left: 2rem; 
  padding-right: 40rem; 
  padding-bottom: 3rem; 
  padding-top: 3rem;
  font-weight: bolder;
  border-radius: 10px 10px 0px 0px;
}


@media screen and (min-width: 2400px) {
  .manifesto p{
    padding-right: 10rem;
  }
}


@media screen and (max-width: 1100px) {
  .manifesto {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  margin-right: 2rem;
  margin-top: 8rem !important;
  background-color: rgba(255, 255, 255, 0.897);
  padding-left: 5rem; 
  margin-left: 2rem; 
  padding-right: 5rem; 
  width: 90%;
  border-radius: 10px 10px 0px 0px;

  }
}


@media screen and (max-width: 900px) {
  .manifesto {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  margin-right: 2rem;
  margin-top: 8rem !important;
  background-color: rgba(255, 255, 255, 0.897);
  padding-left: 5rem; 
  margin-left: 2rem; 
  padding-right: 5rem; 
  width: 90% !important;

  }
}

@media screen and (max-width: 900px) {
  .titulo-manifesto {
    margin-right: 0rem !important;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .h1 {
    font-size: 3rem !important;
  }
}

@media screen and (max-width: 600px) {
  .manifesto {
    width: 100%;
    margin-right: 0rem !important;
  }
}


.custom-button{
  background-color: rgb(120, 155, 69);
  border-radius: 10px 10px 10px 10px;
  font-weight: bolder;
  border: 0;
  height: auto;
}

@media screen and (max-width: 600px) {
  .custom-button {
   padding-bottom: 6rem;
  }
}

@media screen and (min-width: 1500px) {
  .alexandre-diciero p {
    margin-top: 5rem !important;
    font-weight: bold;
    padding-right: 10rem;
  }
  .alexandre-diciero h1 {
    margin-top: 5rem !important;
    font-weight: bold;
    padding-right: 10rem;
  }
}



@media (max-width: 1200px) {
  .alexandre-diciero {
    width: 100% !important;
    margin-left: 0rem !important;
    align-items: center;
  }
  .vitor-foto,
  .lucio-foto,
  .alexandre-foto,
  .cris-foto {
    margin-bottom: 1rem;    
  }
  .sobre-lucio h1{
    text-align: center;
  }
  .sobre-lucio h5{
    text-align: center;
  }
  .sobre-vitor h5{
    text-align: center;
  }
  .sobre-vitor h1{
    text-align: center;
  }
  .sobre-cris h5{
    text-align: center;
  }
  .sobre-cris h1{
    text-align: center;
  }
  .sobre-alexandre h5{
    text-align: center;
  }
  .sobre-alexandre h1{
    text-align: center;
  }
  .alexandre-foto{
    text-align: center;
    margin-left: 0px !important;
  }
  .lucio-foto{
    text-align: center;
    margin-left: 0px !important;
  }
  .cris-foto{
    text-align: center;
    margin-left: 0px !important;
  }
  .vitor-foto{
    text-align: center;
    margin-left: 0px !important;
  }
  
}

@media (max-width: 1200px) {
  .quem-somos {
    width: 100% !important;
    margin-left: 0rem !important;
    align-items: center;
    display: flex;
  }
}


.alexandre-diciero{
  background-color: rgb(255, 255, 255); /* Cor de fundo semi-transparente */
  -webkit-backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra */
  padding-top: 0rem;
  padding-top: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-left: 7rem;
  margin-right: 7rem;
  user-select: none;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  border: 1px solid #ffffff22;
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
  color: rgb(0, 0, 0) !important;
  padding-right: 2rem;
  text-align: justify;
  letter-spacing: 0px;
}


@media (min-width: 1800px) {
  .alexandre-foto {
    margin-top: 0rem;
    margin-bottom: 2rem;
    width: 30rem;
  }
}


@media (min-width: 1800px) {
  .lucio-foto {
    width: 30rem;
  }
}


@media (min-width: 1800px) {
  .cris-foto {
    width: 30rem;
  }
}


.alexandre-diciero::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: .7s all;
}

.alexandre-diciero:hover {
  border: 1px solid #6ac05e44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}

.alexandre-diciero:hover::before {
  filter: brightness(.5);
  top: -100%;
  left: 200%;
}


.principais-clientes{
  background-color: rgba(8, 0, 0, 0.425); /* Cor de fundo semi-transparente */
  -webkit-backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra */
  user-select: none;
  font-weight: bold; 
  font-family: "Poppins", sans-serif;
  justify-content: center; /* Alinha os elementos filhos verticalmente */
  text-align: center !important;
  align-items: center;
  border: 1px solid #ffffff22;
  box-shadow: 0 7px 20px 5px #00000088;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
  color: white !important;
  text-align: justify;
  margin-left: 7rem;
  margin-right: 7rem;
  border-radius: 10px;
}



.clientes-principais{
  background-color: rgba(255, 255, 255, 0.767);
  margin-top: 12rem; 
  padding: 1rem;  
  margin-right: 2.5rem;
  margin-left: 1rem;
  backdrop-filter: blur(4px); 
  -webkit-backdrop-filter: blur(7px);
  margin-bottom: 5rem;
}



@media (max-width: 900px) {
  .clientes-principais {
    padding-left: 0rem !important;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .clientes-principais {
    padding-left: 0rem !important;
    text-align: center;
  }
}





.menu-bar li {
  list-style: none;
  color: white !important;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}


body {
  background: url('assets/img/background.png');
  background-size: cover; /* Faz a imagem cobrir toda a área do elemento */
  background-position: center; /* Centraliza a imagem na tela */
  background-repeat: no-repeat; /* Evita que a imagem seja repetida */
  background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
  margin: 0;
  width: 100%;
  height: 100%;
}



.fa{
  margin-right: 15px;
  color: #2ecc71; /* Cor verde para o ícone */
}


.whatsapp-icon {
  position: fixed;
  bottom: 20px; /* Distância do fundo da página */
  right: 20px; /* Distância da borda direita da página */
  z-index: 999; /* Garante que o ícone fique acima de outros elementos */
  width: 60px;
}


.footer-columns {
  background-color: #000000e4;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  margin-top: auto; /* Isso empurra o rodapé para a parte inferior */
}


.bemfeitor {
  background-color: #000000e4;
  color: rgba(255, 255, 255, 0.384);
  width: 100%;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  display: flex;
  justify-content: center; /* Adicionando para centralizar horizontalmente */
  align-items: center; /* Opcional: para centralizar verticalmente */
  text-align: center;
}

.footer-column {
  flex: 1;
  margin-right: 1rem;
}


.social-icon{
  transition: all 0.3s ease; /* Adiciona uma transição suave */
}
.social-icon:hover {
  transform: scale(1.2); /* Aumenta o tamanho do ícone quando hover */
}

.footer-icons {
    display: flex;
    margin-top: 4rem;
	  margin-right: 1rem;
    display: block !important;
}

.footer-icons a {
    margin-right: 1rem;
}

.footer-company-name{
  border-style: none;
  height: 3rem !important;
  margin-left: 1rem;
}




.fale-conosco{
    margin-bottom: 1rem;
    margin-top: 1rem;
    align-items: start;
    justify-content: start;
    display: flex;
    font-size: medium
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.services section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Alteração aqui */
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 10rem;
  max-width: 100%;
}


.services-card{
  margin-top: 0 !important;
  user-select:none;
  flex: 1;
  display: flex;
  font-family: sans-serif !important;
  justify-content: center; /* Alinha os elementos filhos verticalmente */
  flex-direction: column; /* Define a direção dos elementos filhos como coluna */
  text-align: center;
  align-items: center;
  max-width: 300px; /* Reduzindo a largura máxima */
  margin-right: 1rem;
  margin-bottom: 5rem;
  border: 1px solid #6fd44122;
  color: white;
  background-color: #0a0101;
  background: linear-gradient(227deg, #59963c00 0%, rgba(135, 136, 0, 0.29) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
  hr{
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }
  ins{
    text-decoration: none;
  }
  .main{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center; /* Alinha o conteúdo horizontalmente */
    justify-content: center; /* Alinha o conteúdo verticalmente */
    text-align: center;
    width: 85%;
    padding: 1rem;
    .tokenImage{
      border-radius: .5rem;
      max-width: 100%;
      height: 250px;
      object-fit: cover;
      align-items: center;
      justify-content: center;
    }
    .description{
      margin: .5rem 0;
      color: #351795;
      overflow: hidden;
      text-overflow: ellipsis; /* Adicione reticências para indicar texto truncado */
      font-family: sans-serif;
    }
    .tokenInfo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price{
        display: flex;
        align-items: center;
        color: #ee83e5;
        font-weight: 700;
        ins{
          margin-left: -.3rem;
          margin-right: .5rem;
        }
      }
      .duration{
        display: flex;
        align-items: center;
        color: #0a041e;
        margin-right: .2rem;
        ins{
          margin: .5rem;
          margin-bottom: .4rem;
        }
      }
    }
    .creator{
      display: flex;
      align-items: center;
      margin-top: .2rem;
      margin-bottom: -.3rem;
      ins{
        color: #a89ec9;
        text-decoration: none;
      }
      .wrapper{
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: .3rem;
        margin: 0;
        margin-right: .5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;
        img{
          border-radius: 100%;
          border: 1px solid #ffffff22;
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }
  ::before{
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #531f1f08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: .7s all;
  }
  &:hover{
    border: 1px solid #25085c44;
    box-shadow: 0 7px 50px 10px #000000aa;
    background-color: #36c74921;
    transform: scale(1.015);
    filter: brightness(1.3);
    ::before{
      filter: brightness(.5);
      top: -100%;
      left: 200%;
    }
  }
}

.bg{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1{
    font-size: 20rem;
    filter: opacity(0.5);
  }
}


.semSublinhado {
  text-decoration: none;
}




.services-card h2 {
  font-size: 2rem;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
}

.services-card {
  cursor: pointer; /* Mostra o cursor como um ponteiro ao passar por cima */
  margin-bottom: 20px; /* Espaçamento entre os cartões de serviço */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.modal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.932);
  z-index: 1000;
  border-radius: 10px;
}


.menu-sanfona > li {
  list-style: none;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
  box-shadow: -17px -20px 10px rgb(4 0 0 / 11%);
}

.menu-sanfona li ul { display: none; } /* Esconde todos os submenus por padrão */
.menu-sanfona li.ativo ul { display: block; } /* Exibe o submenu quando o item do menu estiver ativo */
.menu-sanfona li.ativo i.fa-plus { display: none; } /* Esconde o ícone de adição quando o item do menu estiver ativo */
.menu-sanfona li.ativo i.fa-minus { display: inline; } /* Exibe o ícone de subtração quando o item do menu estiver ativo */

.menu-sanfona li ul{
  display:none;
  text-align: start;
}

.menu-sanfona li:focus ul{
  display:block;
}

.menu-sanfona {
  padding: 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
  overflow: hidden; /* Adiciona overflow hidden para esconder a sombra extra */
}


.menu-sanfona p {
  font-size: 1rem;
}


.menu-sanfona h2 {
  margin: 0;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  position: relative; /* Adiciona posição relativa para z-index funcionar */
  z-index: 1; /* Coloca o texto sobre a borda */
}


.menu-sanfona ul li {
  padding: 10px 20px;
  font-size: 16px;
  color: #130202;
  cursor: pointer;
  position: relative; /* Adiciona posição relativa para z-index funcionar */
  z-index: 1; /* Coloca o texto sobre a borda */
}

.menu-sanfona ul li:hover {
  background-color: #718b5234; /* Cor de fundo do item ao passar o mouse */
}

.menu-sanfona li {
  position: relative; /* Posição relativa para permitir posicionamento absoluto dos pseudoelementos */
  
}


.menu-sanfona li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2); /* Cor da borda (estilo de vidro) */
}

.menu-sanfona-menu-principal{
  border-bottom: 1px solid;
}

.menu-item ul {
  display: none;
}

.menu-item.expanded ul {
  display: block;
}


.slider {
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	overflow:hidden;
	position: relative;
	width: 100%;
  background-color: rgba(8, 0, 0, 0.144); /* Cor de fundo semi-transparente */
  -webkit-backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  backdrop-filter: blur(10px); /* Efeito de desfoque do fundo */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra */
  user-select: none;
  font-family: sans-serif !important;
  justify-content: center; /* Alinha os elementos filhos verticalmente */
  flex-direction: column; /* Define a direção dos elementos filhos como coluna */
  text-align: center;
  align-items: center;
  box-shadow: 0 7px 20px 5px #00000088;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
}
.slider::before,
.slider::after {
	content: "";
	height: 100px;
	position: absolute;
	z-index: 2;
}
.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}
.slider::before {
	left: 0;
	top: 0;
}

.slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
}

.slide {
  height: 100px;
  background-color: white; /* Definindo o fundo branco */
  flex-shrink: 0; /* Evita que os slides diminuam para caber no contêiner */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 11));
  }
}

@media (min-height: 1400px) {
  .services {
      margin-bottom: 44rem !important;
  }
}

@media (max-height: 1399px) {
  .services {
      margin-bottom: 10 !important;
  }
}


.contato-relevo {
  position: absolute;
  top:23% !important; 
  left: 78% !important;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255); /* Cor de fundo com transparência */
  padding: 20px;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra para efeito de relevo */
  z-index: 10; /* Para garantir que esta div fique sobreposta ao manifesto */
  width: 10%; /* Defina a largura desejada */
  max-width: 500px; /* Define a largura máxima para evitar que a div fique muito grande em telas grandes */
  height: 100px;

}


@media screen and (min-width: 1920px) {
  .contato-relevo {
    position: absolute;
    top:35% !important; 
    left: 85% !important;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255); /* Cor de fundo com transparência */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra para efeito de relevo */
    z-index: 10; /* Para garantir que esta div fique sobreposta ao manifesto */
    width: 50%; /* Defina a largura desejada */
    max-width: 500px; /* Define a largura máxima para evitar que a div fique muito grande em telas grandes */
    height: auto; /* Ou defina uma altura fixa se necessário */
    margin-top: 20px; /* Ajuste conforme necessário */
  }
}

@media screen and (max-width: 1920px) {
  .contato-relevo {
    position: absolute;
    top:35% !important; 
    left: 83% !important;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255); /* Cor de fundo com transparência */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra para efeito de relevo */
    z-index: 10; /* Para garantir que esta div fique sobreposta ao manifesto */
    width: 50%; /* Defina a largura desejada */
    max-width: 500px; /* Define a largura máxima para evitar que a div fique muito grande em telas grandes */
    height: auto; /* Ou defina uma altura fixa se necessário */
    margin-top: 20px; /* Ajuste conforme necessário */
  }
}


@media screen and (max-width: 1720px) {
  .contato-relevo {
    position: absolute;
    top:30% !important; 
    left: 80% !important;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255); /* Cor de fundo com transparência */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra para efeito de relevo */
    z-index: 10; /* Para garantir que esta div fique sobreposta ao manifesto */
    width: 50%; /* Defina a largura desejada */
    max-width: 500px; /* Define a largura máxima para evitar que a div fique muito grande em telas grandes */
    height: auto; /* Ou defina uma altura fixa se necessário */
    margin-top: 20px; /* Ajuste conforme necessário */
  }
}


@media screen and (max-width: 1720px) {
  .contato-relevo {
    position: absolute;
    top:30% !important; 
    left: 80% !important;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255); /* Cor de fundo com transparência */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra para efeito de relevo */
    z-index: 10; /* Para garantir que esta div fique sobreposta ao manifesto */
    width: 50%; /* Defina a largura desejada */
    max-width: 500px; /* Define a largura máxima para evitar que a div fique muito grande em telas grandes */
    height: auto; /* Ou defina uma altura fixa se necessário */
    margin-top: 20px; /* Ajuste conforme necessário */
  }
}

@media screen and (max-width: 1440px) {
  .contato-relevo {
    position: absolute;
    top:38% !important; 
    left: 74% !important;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255); /* Cor de fundo com transparência */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra para efeito de relevo */
    z-index: 10; /* Para garantir que esta div fique sobreposta ao manifesto */
    width: 50%; /* Defina a largura desejada */
    max-width: 500px; /* Define a largura máxima para evitar que a div fique muito grande em telas grandes */
    height: auto; /* Ou defina uma altura fixa se necessário */
    margin-top: 20px; /* Ajuste conforme necessário */
  }
}


@media screen and (max-width: 1220px) {
  .contato-relevo {
    position: absolute;
    top:38% !important; 
    left: 74% !important;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255); /* Cor de fundo com transparência */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra para efeito de relevo */
    z-index: 10; /* Para garantir que esta div fique sobreposta ao manifesto */
    width: 50%; /* Defina a largura desejada */
    max-width: 500px; /* Define a largura máxima para evitar que a div fique muito grande em telas grandes */
    height: auto; /* Ou defina uma altura fixa se necessário */
    margin-top: 20px; /* Ajuste conforme necessário */
  }
}


@media screen and (max-width: 1100px) {
  .contato-relevo {
    position: absolute;
    top:54% !important; 
    left: 68% !important;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255); /* Cor de fundo com transparência */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra para efeito de relevo */
    z-index: 10; /* Para garantir que esta div fique sobreposta ao manifesto */
    width: 50%; /* Defina a largura desejada */
    max-width: 500px; /* Define a largura máxima para evitar que a div fique muito grande em telas grandes */
    height: auto; /* Ou defina uma altura fixa se necessário */
    margin-top: 20px; /* Ajuste conforme necessário */
  }
}

@media screen and (max-width: 900px) {
  .contato-relevo {
    display: none;
  }
} 


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-20px);
  }
  60% {
      transform: translateY(-10px);
  }
}

.whatsapp-icon {
  animation: bounce 1s infinite;
}


.conheca-nossos-servicos{
  background-color: #bac270;
  margin-left: 2rem;
  margin-right: 2rem;
}


@media screen and (max-width: 1920px) {
  .conheca-nossos-servicos {
    background-color: #bac270;
    margin-bottom: 15rem !important;
    padding-top: 2rem;
    padding-bottom: 0rem;
    margin: 0rem 2rem 4rem 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
  }
}


@media screen and (max-width: 1700px) {
  .conheca-nossos-servicos {
    background-color: #bac270;
    padding-top: 2rem;
    margin: 0rem 2rem 4rem 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    padding-bottom: 0;
  }
}


@media screen and (max-width: 1400px) {
  .conheca-nossos-servicos {
    background-color: #bac270;
    padding-top: 2rem;
    margin: 0rem 2rem 4rem 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1100px) {
  .conheca-nossos-servicos {
    background-color: #bac270;
    padding-top: 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    padding-bottom: 0;
    padding-right: 30rem;
    text-align: justify;
    width: 90%;
  }

  .custom-button{
    height: 4.5rem;
  }
}


@media screen and (max-width: 900px) {
  .conheca-nossos-servicos {
    background-color: #bac270;
    padding-top: 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    padding-bottom: 0;
    padding-right: 0px;
    text-align: center;
  }

  .custom-button{
    height: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .conheca-nossos-servicos {
    background-color: #bac270;
    padding-top: 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    padding-bottom: 0;
    width: 90%;
    padding-right: 0px;
    text-align: center;
  }

  .custom-button{
    height: 6.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.contato-relevo {
  animation: slideInFromRight 0.5s ease-in-out forwards;
}


.botao-conheca-nossos-servicos{
  margin-left: 55rem; 
  margin-top: 5rem;
}

@media screen and (max-width: 1900px) {
  .botao-conheca-nossos-servicos {
    background-color: #bac270;
    margin: 0rem 2rem 4rem 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    margin-top: 2rem;
    margin-left: 45rem !important;
  }
}



@media screen and (max-width: 1700px) {
  .botao-conheca-nossos-servicos {
    background-color: #bac270;
    margin: 0rem 2rem 4rem 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    margin-left: 40rem !important;
  }
}


@media screen and (max-width: 1480px) {
  .botao-conheca-nossos-servicos {
    background-color: #bac270;
    margin: 0rem 2rem 4rem 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    text-align: center;
    margin-left: 35rem;
    width: auto;
  }
}


@media screen and (max-width: 1400px) {
  .botao-conheca-nossos-servicos {
    background-color: #bac270;
    margin: 0rem 2rem 4rem 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    width:600px;
    margin-left: 27rem !important;
  }
}


@media screen and (max-width: 1300px) {
  .botao-conheca-nossos-servicos {
    background-color: #bac270;
    margin: 0rem 2rem 4rem 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    width:600px;
    margin-left: 18rem !important;
  }
}


@media screen and (max-width: 1150px) {
  .botao-conheca-nossos-servicos {
    background-color: #bac270;
    margin: 0rem 2rem 4rem 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    width:600px;
    margin-left: 18rem !important;
  }
}


@media screen and (max-width: 1100px) {
  .botao-conheca-nossos-servicos {
    background-color: #bac270;
    margin: 0rem 2rem 4rem 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    width:300px;
    margin-left: 4rem !important;
  }
}

@media screen and (max-width: 900px) {
  .botao-conheca-nossos-servicos {
    background-color: #bac270;
    margin: 0rem 2rem 4rem 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    width:50%;
    margin-left: 16rem !important;
  }
}

@media screen and (max-width: 768px) {
  .botao-conheca-nossos-servicos {
    background-color: #bac270;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    width: 50px;
    margin-left: 19rem !important;
  }
}


@media screen and (max-width: 700px) {
  .botao-conheca-nossos-servicos {
    background-color: #bac270;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    width: 50px;
    margin-left: 16rem !important;
  }
}

@media screen and (max-width: 600px) {
  .botao-conheca-nossos-servicos {
    background-color: #bac270;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    width: 50px;
    margin-left: 11rem !important;
  }
}

@media screen and (max-width: 500px) {
  .botao-conheca-nossos-servicos {
    background-color: #bac270;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    width: 50px;
    margin-left: 12rem !important;
  }
}


@media screen and (max-width: 470px) {
  .botao-conheca-nossos-servicos {
    background-color: #bac270;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    width: 50px;
    margin-left: 10rem !important;
  }
}



@media screen and (max-width: 390px) {
  .botao-conheca-nossos-servicos {
    background-color: #bac270;
    border-radius: 0 0 10px 10px;
    font-weight: bolder;
    margin-left: 7rem !important;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .rodape-manifesto {
    width:100%;
  }
}





@media screen and (max-width: 1920px) {
  .botao-entenda {
    margin-left: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    height: auto;
    width: auto;
    padding-left: 5rem;
  } 
}

  @media screen and (max-width: 1440px){
    .botao-entenda {
      margin-left: 9rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5rem;
      border-radius: 50px;
      color: rgb(120, 155, 69);
      border: 0;
      margin-left: 4rem;
      margin-right: 1rem;
      transition: background-color 0.3s;
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 1920px) {
    .botao-entenda {
      margin-left: 6rem; 
    }
    
  }


  @media screen and (min-width: 1920px) {
    .conheca-nossos-servicos {
      margin-bottom: 20rem; 
  
  }
}





@media screen and (max-width: 600px) {
  .contato-relevo {
    display: none;
  }
}


.rodape-manifesto{
  margin-top: 10rem;
}


@media screen and (max-width: 768px) {
  .logotipo-diciero {
    display: none;
  }
}


@media screen and (max-width: 768px) {
  .footer-column {
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .footer-column {
    margin-left: 1rem !important;
    width: auto;
  }
}


@media screen and (max-width: 600px) {
  .redes-rodape{
    margin-left: 1rem !important;
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
    padding-right: 1rem !important;
  }
}


@media screen and (max-width: 600px) {
  .footer-columns{
    width: 640px;
  }
}


.navigation__checkbox {
  display: none;
}

.navigation__button {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  height: 5rem;
  width: 5rem;
  text-align: center;
  background-color: #000000;
  border-radius: 50%;
  z-index: 300;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}



.navigation__background {
  position: fixed;
  top: 2rem;
  right: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: #4a676a17;
  background-size: cover;
  background-position: center;
  z-index: 100;
  transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
}



.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  width: 0;
  visibility: hidden;
  z-index: 200;
  transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: rgba(8, 20, 3, 0.932);
}

.navigation__list {
  /*@include center;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  display: flex;
  list-style: none;
  flex-direction: column;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #f4f4f4;
  font-size: 2.4rem;
  text-decoration: none;
  transition: all .2s;
}

@media(min-width: 768px) {
  .navigation__link:link,
  .navigation__link:visited {
      font-size: 3.8rem;
  }
}

.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover {
  color: #C1D0D0;
  transform: scale(1.1);
}

.navigation__checkbox:checked~.navigation__background {
  transform: scale(80)
}

.navigation__checkbox:checked~.navigation__nav {
  width: 100%;
  visibility: visible;
  opacity: 1;
}

.navigation__icon {

  position: relative;
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .navigation__icon {
      margin-top: 3.5rem;
  }
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  display: inline-block;
  width: 2.2rem;
  height: 2px;
  background-color: #6b3b1a;
}

@media (min-width: 768px) {
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
      width: 3rem;
  }
}

.navigation__icon::before,
.navigation__icon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 200ms;
}

.navigation__icon::before {
  top: -.8rem;
}

.navigation__icon::after {
  top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}



/*-----------------------*/
#by {
font-family: 'Arima Madurai', cursive;
color: #4A676A;
font-size: 10px;
position: absolute;
top: 22%;
right: 2.5%; 
}

@media screen and (max-width: 768px) {
  .footer-columns {
      display: flex;
      flex-direction: column;
      align-items: start; 
      width: auto;
  }

  .footer-column {
      margin: 10px 0; /* Espaçamento entre as colunas */
      text-align: left; /* Centraliza o texto */
      margin-left: 1rem !important;
  }

  .footer-icons {
      margin-top: 10px; /* Espaçamento entre os ícones e o texto */
      
  }
}

 @media screen and (max-width: 390px) {
  .navigation__button{
    margin-right: 0rem !important;
  }
 }






.whatsapp-icon {
  position: fixed;
  bottom: 20px; /* Distância do fundo da página */
  margin-right: 4rem; /* Distância da borda direita da página */
  z-index: 999; /* Garante que o ícone fique acima de outros elementos */
  width: 60px;
} 


 @media screen and (max-width: 768px) {
  .whatsapp-icon{
    margin-right: 1rem !important;
  }
 }


 @media screen and (max-width: 690px) {
  .whatsapp-icon{
    margin-right: 5rem !important;
  }
 }

 @media screen and (max-width: 500px) {
  .whatsapp-icon {
    position: fixed;
    bottom: 60px; 
    margin-left: 13rem !important; 
    margin-right: 0rem !important;
    z-index: 999; 
    width: 70px;
  }
}


 @media screen and (max-width: 400px) {
  .whatsapp-icon {
    position: fixed;
    bottom: 20px; 
    right: 2rem; 
    z-index: 999; 
    width: 60px;
  }
}


@media screen and (max-width: 768px) {
  .mobiles-card {
    max-width: 320px !important;
    overflow-x: auto;
  }
}


@media screen and (max-width: 768px) {
  .manifesto {
    width: 90%;
    margin-right: 0rem !important;
    margin-top: 3rem !important;
  }
}


@media screen and (min-width: 1200px) {
  .mobiles-card {
      display: none !important;
  }
}

@media screen and (max-width: 1200px) {
  .mobiles-card {
      margin-top: 10rem !important;
  }
}


/* Oculta .services em telas menores que 1200px */
@media screen and (max-width: 1200px) {
  .services {
      display: none !important;
  }
}



/* Define margin-left e margin-top para .mobiles-card em telas menores que 780px */
@media screen and (max-width: 780px) {
  .mobiles-card {
      margin-left: 3rem !important;
      margin-top: 10rem !important;
  }
}

/* Define margin-left para .mobiles-card em telas menores que 760px */
@media screen and (max-width: 760px) {
  .mobiles-card {
      margin-left: 15rem !important;
  }
}

@media screen and (max-width: 600px) {
  .mobiles-card {
      margin-left: 6rem !important;
  }
}

@media screen and (max-width: 500px) {
  .mobiles-card {
      margin-left: 5rem !important;
  }
}

/* Define margin-left e margin-top para .mobiles-card em telas menores que 390px */
@media screen and (max-width: 390px) {
  .mobiles-card {
      margin-left: 2rem !important;
      margin-top: 9rem !important;
  }
}